/* navbar */
body, ul, li {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.navbar {
    background-color: #333;
    color: #fff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 35px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

.nav-menu {
    list-style: none;
    display: flex;
}

.nav-menu li {
    margin-right: 20px;
}

.nav-menu a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-menu a:hover {
    color: #ff4500;
}

/* Media queries untuk responsif */
@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-menu {
        flex-direction: column;
    }

    .nav-menu li {
        margin-right: 0;
        margin-bottom: 10px;
    }
}

/* as */
/* Gaya untuk konten media sosial */
.media {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 20px;
}

h1 {
    font-size: 32px;
    color: #007BFF;
    text-align: center;
    margin-bottom: 20px;
}

/* Gaya untuk setiap media sosial */
.tiktok, .ig {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

h1 {
    font-size: 24px;
    color: #007BFF;
    margin: 10px 0;
}

a {
    text-decoration: none;
}

/* Gaya untuk gambar media sosial */
img {
    max-width: 100%;
    height: auto;
    border: 2px solid #007BFF;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Gaya untuk teks dalam media sosial */
p {
    font-size: 16px;
    color: #333;
    margin: 10px 0;
    text-align: justify;
}

img {
    display: block;
    margin: 0 auto;
}